{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<header class="post-header">
				<h2 class="panel-title"><a href="{{url}}">{{{title}}}</a></h2>
			</header>
		</div> <!-- .panel-heading (main panel) -->
		<div class="panel-body">
			<section class="post-excerpt">
				<p>{{excerpt words="26"}}&#8230;&nbsp;&nbsp; <a class="btn btn-primary" href="{{url}}" title="Read More"><i class="fa fa-2x fa-angle-double-right"></i></a></p>
			</section>
			<footer>
				<div class="panel panel-default">
					<div class="panel-heading">
						Post Details
					</div> <!-- .panel-heading (inner panel) -->
					<div class="panel-body">
						{{#author}}
							<a href="{{url}}" class="btn btn-success" title="{{name}}" aria-label="Link to {{name}}'s page">{{#if image}}<img class="author-thumb" src="{{image}}" alt="{{name}}" nopin="nopin" />&nbsp;{{/if}}{{name}}</a>
							&nbsp;
							<i class="fa fa-lg fa-fw fa-calendar"></i>&nbsp;<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
						{{/author}}
						<br />
						<br />
						{{#if tags}}
							{{#foreach tags}}
								<a href="{{url}}" title="{{name}}" class="tag-button tag-{{id}} btn btn-primary"><i class="fa fa-fw fa-tag"></i>&nbsp;{{name}}</a>
							{{/foreach}}
							<br />
							<br />
						{{/if}}
						<button class="btn btn-success" onclick="window.location.href='{{url}}#disqus_thread'">
							<i class="fa fa-flip-horizontal fa-fw fa-comment"></i>&nbsp;&nbsp;Comments <span data-disqus-identifier="{{id}}" class="disqus-comment-count badge"></span>
						</button>
					</div> <!-- .panel-body (inner panel) -->
				</div> <!-- .panel (inner panel) -->
			</footer>
		</div> <!-- .panel-body (main panel)-->
	</div> <!-- .panel (main panel) -->
</article>
{{/foreach}}
