{{#posts.[0].author}}
<div class="panel panel-primary">
	<div class="panel-heading">
		About
	</div>
	<div class="panel-body">
		{{#if image}}
		<img class="img-thumbnail center-block" src="{{image}}" alt="{{name}}'s Picture" />
		{{/if}}
		<h2 class="author-title center-block">{{name}}</h2>
		{{#if bio}}
			<div class="bio-container">
				<h2 class="author-bio text-justify">{{bio}}</h2>
			</div>
		{{/if}}
		<div class="author-meta center-block sidebar-meta">
			{{#if location}}<p><i class="fa fa-map-marker"></i> <small>{{location}} <a href="https://www.google.com/maps/place/{{ location }}" aria-label="{{location}} map link" target="locationMap">(map)</a></small></p>{{/if}}
			{{#if website}}<p><i class="fa fa-link"></i> <small><a href="{{website}}">{{website}}</a></small></p>{{/if}}
		</div>
	</div>
</div>
{{/posts.[0].author}}