{{#author}}
<div class="panel panel-primary">
	<div class="panel-heading">
		About
	</div>
	<div class="panel-body">
		<section class="author-profile inner">
			{{#if image}}
			<img class="img-rounded author-image" src="{{image}}" alt="{{name}}'s Picture" />
			{{/if}}
			<h1 class="author-title">{{name}}</h1>
			{{#if bio}}
				<div class="bio-container">
					<h2 class="author-bio text-justify">{{bio}}</h2>
				</div>
			{{/if}}
			<div class="author-meta">
				{{#if location}}<span class="author-location icon-location"><a href="https://www.google.com/maps/place/{{location}}" aria-label="{{location}} map link" target="_locationMap">{{location}}</a></span>{{/if}}
				{{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
			</div>
		</section>
	</div>
</div>
{{/author}}