<!DOCTYPE html>
<html lang="en">
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
	
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">
	{{navigation}}
	<div class="site-wrapper container-fluid">
		{{! Everything else gets inserted here }}
		{{{body}}}
		
		<div class="row">
			<div class="col-md-12">
				<footer class="site-footer clearfix">
					<section class="copyright">{{> "copyright" }}</section>
					<section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
				</footer>
			</div>
		</div>

    </div>
	
	<!-- Bootstrap -->
	<!-- Optional theme -->
	<link id="bootstrap-theme" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/superhero/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous" />
	<!-- Fontawesome -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	
    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{{asset "css/screen.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
	<script type="text/javascript" src="{{asset "js/site-init.js"}}"></script>
	
	<!-- minified JavaScript for Bootstrap -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript">
		// load the Disqus comment count script
		$(document).ready(function(){
			$.getScript('https://' + disqusSite + '.disqus.com/count.js', function() {
				// do something after load if necessary...
				//alert('loaded count:' + disqusSite);
			});
		});
	</script>
	
	
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/bootstrap-pagination.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/bootstrap-theme-selector.js"}}"></script>
	</body>
</html>
