{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
</header>
<main class="content" role="main">
	<div class="row">
		<div id="sidebar-container" class="col-md-4">
            {{#author}}
			    {{> "sidebar"}}
            {{/author}}
		</div> <!-- .col-md-4 -->
		<div class="col-md-8">
			<article class="{{post_class}}">				
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">{{title}}</h1>
                        <section class="post-meta">
                            <i class="fa fa-fw fa-lg fa-calendar"></i> <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
                        </section>
                    </div>
                    <div class="panel-body">
                        <section class="post-content">
                            {{content}}
                        </section>
                    </div>
                </div>
			</article>
		</div> <!-- .col-md-8 -->
	</div> <!-- .row -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-body">
					<div id="disqus_thread"></div>
					<script>						
						var disqus_config = function () {
						this.page.url = "{{url}}"; 
						this.page.identifier = '{{id}}';
						};
						
						(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');

						s.src = 'https://' + disqusSite + disqusSource;

						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
						})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
				</div> <!-- .panel-body (comments) -->
			</div> <!-- comment panel -->
		</div> <!-- .col-md-6 -->
	</div> <!-- .row -->
</main>
<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="nextprev-post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="nextprev-post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>
<div class="hidden">
    <!-- we're going to move this to the sidebar... -->
    <div class="panel panel-primary share move-to-sidebar">
        <div class="panel-heading">
            <h4 class="panel-title">Share this post</h4>
        </div> <!-- .panel-heading (share) -->
        <div class="panel-body">
            <a class="btn btn-default" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
               onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
               title="Share on Twitter" aria-label="Share on Twitter">
                <i class="fa fa-lg fa-twitter-square"></i><span class="hidden">Twitter</span>
            </a>
            <a class="btn btn-default" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
               onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"
               title="Share on Facebook" aria-label="Share on Facebook">
                <i class="fa fa-lg fa-facebook-official"></i><span class="hidden">Facebook</span>
            </a>
            <a class="btn btn-default" href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"
               title="Share on Google+" aria-label="Share on Google+">
                <i class="fa fa-lg fa-google-plus-square"></i><span class="hidden">Google+</span>
            </a>
        </div> <!-- .panel-body (share) -->
    </div> <!-- .panel (share) -->
</div>
{{/post}}
