<!DOCTYPE html>
<html lang="en">
    <head>
        {{! Document Settings }}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {{! Page Meta }}
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />

        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
        {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
        <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        {{!-- minified JavaScript for Bootstrap --}}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        {{!-- load all the scripts for the theme (they are all in a bundle) --}}
        <script type="text/javascript" src="{{asset "app.min.js"}}"></script>
        <script type="text/javascript">
            window.__themeCfg = {
                "disqusUsername": null,
                "googleAnalyticsId": null,
                "alternateSubscribeLink": null
            };
        </script>
        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}
    </head>
<body class="{{body_class}}">
    <a href="#content" class="sr-only">Skip to content</a><a href="#author" class="sr-only">Skip to author details</a>
    {{navigation}}
    <div class="site-wrapper container-fluid">
        {{! Everything else gets inserted here }}
        {{{body}}}
        <div class="row">
            <div class="col-md-12">
                <footer>
                    <div class="container text-center">{{> "copyright" }}</div>
                </footer>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <footer>
                    <div class="container text-center"><small>This site was built using <a href="https://github.com/cerkit/ghost-cerkit-theme" aria-label="Ghost cerkit theme" target="_blank">ghost-cerkit-theme</a> running on the <a href="https://ghost.org" aria-label="Ghost blogging engine" target="_blank"><span class="icon-ghost fa-fw"></span> Ghost</a> blogging engine.</small></div>
                </footer>
            </div>
        </div>
    </div>
    {{!-- Google Code Prettyfier --}}
    <!--<script src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sons-of-obsidian" type="text/javascript"></script>-->
    {{!-- Bootstrap --}}
    <link id="bootstrap-theme" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    {{!-- Fontawesome --}}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {{!!-- theme specific css --}}
    <link rel="stylesheet" type="text/css" href="{{asset "app.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    <script type="text/javascript">
        if ($.isFunction(window.disqus_init)) {
            console.log('disqus_init exists');
            $(disqus_init());
        }
    </script>
    {{>google-analytics}}
    <script id="dsq-count-scr" src="//cerkit.disqus.com/count.js" async></script>
</body>
</html>