<!-- index -->
{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="row site-logo">
    <div class="col-md-12">
        {{! The big featured header }}
        <header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
            <div class="vertical">
                <h1 class="page-title">{{@blog.title}}</h1>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{@blog.description}}
                    </div>
                </div>
            </div>
            <a class="scroll-down" href="#content" data-offset="-45" title="Scroll Down"><i class="fa fa-3x fa-arrow-down"></i></a>
        </header>
    </div>
</div>
{{! The main content area on the homepage }}
<main id="content" class="content" role="main">
    <div class="row">
        <div class="col-md-offset-4 col-md-8">
            {{! Previous/next page links - only displayed on page 2+ }}
            <div class="extra-pagination text-center">
                {{pagination}}
            </div>
        </div>
    </div>
    <div class="row">
        <div id="sidebar-container" class="col-md-4">
            {{#posts.[0].author}}
                {{> "sidebar"}}
            {{/posts.[0].author}}
        </div>
        <div id="content-container" class="col-md-8">
            <a name="content" class="sr-only"></a>
            {{! The tag below includes the post loop - partials/loop.hbs }}
            {{> "loop"}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-8">
            <div class="text-center">
                {{! Previous/next page links - displayed on every page }}
                {{pagination}}
            </div>
        </div>
    </div>
</main>
<!-- /index -->