{{!< default}}
{{
!
    The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer.
}}
{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}"></header>
<main id="content" class="content" role="main">
  <div class="row">
    <div id="sidebar-container" class="col-md-4">
      {{> sidebar author}}
    </div> <!-- .col-md-4 -->
    <div class="col-md-8">
      <article class="{{post_class}}">
        <div class="panel panel-primary">
          <header class="panel-heading">
            <h1 class="panel-title">{{title}}</h1>
          </header>
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <i class="fa fa-fw fa-lg fa-calendar"></i> <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                </td>
              </tr>
              {{#if tags}}
              <tr class="active">
                <td>
                  {{#foreach tags}}
                  <a href="{{url}}" title="{{name}}" class="tag-button tag-{{id}} btn btn-sm btn-default cerkit-button"><i class="fa fa-fw fa-tag"></i>&nbsp;{{name}}</a>
                  {{/foreach}}
                </td>
              </tr>
              {{/if}}
            </tbody>
          </table>
          <div class="panel-body">
            <section class="post-content">
              <a name="content" class="sr-only"></a>
              {{content}}
            </section>
          </div>
        </div>
      </article>
      <div class="panel panel-default">
        <div class="panel-body">
          {{>disqus}}
        </div> <!-- .panel-body (comments) -->
      </div> <!-- comment panel -->
    </div> <!-- .col-md-8 -->
    <div id="sidebar-container-mobile" class="col-md-4">
      {{> sidebar author}}
    </div> <!-- .col-md-4 -->
  </div> <!-- .row -->
  <aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}} cerkit-button cerkit-button-read-next" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
      <section class="nextprev-post">
        <h2>{{title}}</h2>
        <p>{{excerpt words="19"}}&hellip;</p>
      </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}} cerkit-button cerkit-button-read-previous" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
      <section class="nextprev-post">
        <h2>{{title}}</h2>
        <p>{{excerpt words="19"}}&hellip;</p>
      </section>
    </a>
    {{/prev_post}}
  </aside>
  <div class="hidden">
    <!-- we're going to move this to the sidebar... -->
    <div class="panel panel-primary share sidebar-component">
      <div class="panel-heading">
        <p class="panel-title">Share this post</p>
      </div> <!-- .panel-heading (share) -->
      <div class="panel-body">
        <a class="text-primary share-link cerkit-button cerkit-button-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
           title="Share on Twitter" aria-label="Share on Twitter"><i class="fa fa-3x fa-twitter-square"></i><span class="sr-only">Twitter</span></a>
        <a class="text-primary share-link cerkit-button cerkit-button-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"
           title="Share on Facebook" aria-label="Share on Facebook"><i class="fa fa-3x fa-facebook-square"></i><span class="sr-only">Facebook</span></a>
        <a class="text-primary share-link cerkit-button cerkit-button-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"
           title="Share on Google+" aria-label="Share on Google+"><i class="fa fa-3x fa-google-plus-square"></i><span class="sr-only">Google+</span></a>
      </div> <!-- .panel-body (share) -->
    </div> <!-- .panel (share) -->
  </div>
</main>
{{/post}}
